[defaults]
; logfile    =
; loglevel   = INFO
loglevel   = DEBUG

[mqtt]
host = localhost
port = 1883
username = user
password = pass
client_id = 'yyyx02'
; ca_certs = None
;tls_version = 'tlsv1'
# tls_version = 'sslv3'
;tls_insecure = False

base_topics = [ 'owntracks/+' ]

beaconlist = "data.json"

# MQTT topic prefix; user's base topic (owntracks/jpm/5s) will be appended to this with a slash
positionprefix = 'positions'
beaconprefix = 'beacons'
regionprefix = 'regions'
