[
	["F7826DA6-4FA2-4E98-8024-BC5B71E0893E", 1, 201, "openBerlin Right",		"https://openberlin.owntracks.org/lamp/right" ],
	["F7826DA6-4FA2-4E98-8024-BC5B71E0893E", 1, 202, "openBerlin Middle",		"https://openberlin.owntracks.org/lamp/middle" ],
	["F7826DA6-4FA2-4E98-8024-BC5B71E0893E", 1, 203, "openBerlin Left",		"https:/openberlin.owntracks.org/lamp/left" ],
	["DEADBEEF-ABBA-CDEF-1001-000000000001", 1,   1, "Bielefeld Fireplace",		"https://openberlin.owntracks.org/lamp/jp" ],
	["7777772E-626C-756B-6969-2E636F6D0001", 3,   1, "Neuss Office",		"https://openberlin.owntracks.org/lamp/ck" ]
]
