{
	"height": 1000, 
	"width": 1200, 

	"canvasheight": 100, 
	"canvaswidth": 120, 

	"imagelayer": [ 
		{ "url": "openBerlin_72dpi.png", "x": 0, "y": 0, "height": 100, "width": 120 }
	],

	"envmap": {
		"binSize": 3,
		"units": "\u00B0C",
		"XDKs": {
			"XDK001": {"x": 105, "y": 75, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK002": {"x": 105, "y": 80, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK003": {"x": 95, "y": 80, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK004": {"x": 95, "y": 85, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK005": {"x": 95, "y": 75, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK105": {"x": 52, "y": 15, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK103": {"x": 52, "y": 25, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK149": {"x": 52, "y": 35, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK108": {"x": 67, "y": 15, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK110": {"x": 67, "y": 25, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK112": {"x": 67, "y": 35, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK111": {"x": 68, "y": 33, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK107": {"x": 62, "y": 10, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK109": {"x": 62, "y": 20, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK191": {"x": 62, "y": 30, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK113": {"x": 62, "y": 40, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK106": {"x": 57, "y": 10, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK104": {"x": 57, "y": 20, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK102": {"x": 57, "y": 30, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK100": {"x": 57, "y": 40, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK115": {"x": 66, "y": 47, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK150": {"x": 53, "y": 47, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK116": {"x": 52, "y": 55, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK117": {"x": 52, "y": 58, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK118": {"x": 56, "y": 58, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK119": {"x": 52, "y": 70, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK120": {"x": 56, "y": 70, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK121": {"x": 68, "y": 67, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK122": {"x": 65, "y": 67, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK123": {"x": 68, "y": 72, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK124": {"x": 68, "y": 77, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK125": {"x": 68, "y": 82, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK126": {"x": 52, "y": 76, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK127": {"x": 52, "y": 80, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK128": {"x": 52, "y": 86, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK129": {"x": 52, "y": 90, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK130": {"x": 54, "y": 92, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK131": {"x": 58, "y": 92, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK132": {"x": 68, "y": 86, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK133": {"x": 68, "y": 90, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK134": {"x": 66, "y": 92, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK135": {"x": 62, "y": 92, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK136": {"x": 105, "y": 60, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK137": {"x": 105, "y": 50, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK138": {"x": 105, "y": 40, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK139": {"x": 105, "y": 30, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK140": {"x": 105, "y": 20, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK141": {"x": 95, "y": 60, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK142": {"x": 95, "y": 50, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK143": {"x": 95, "y": 40, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK144": {"x": 95, "y": 30, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK145": {"x": 95, "y": 20, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK154": {"x": 12, "y": 52, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK155": {"x": 28, "y":  8, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK156": {"x": 28, "y": 12, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK157": {"x": 28, "y": 16, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK158": {"x": 25, "y":  8, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK159": {"x": 11, "y":  8, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK160": {"x": 11, "y": 12, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK161": {"x": 11, "y": 16, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK162": {"x": 14, "y":  8, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK163": {"x": 15, "y": 23, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK164": {"x": 15, "y": 27, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK165": {"x": 15, "y": 35, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK166": {"x": 15, "y": 39, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK167": {"x": 25, "y": 23, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK168": {"x": 25, "y": 27, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK169": {"x": 25, "y": 35, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK170": {"x": 25, "y": 39, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK181": {"x": 12, "y": 71, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK182": {"x": 12, "y": 78, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK185": {"x": 12, "y": 85, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK186": {"x": 12, "y": 93, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK193": {"x": 26, "y": 71, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK194": {"x": 26, "y": 78, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK189": {"x": 26, "y": 85, "temperature": 0.0, "humidity": 0.0, "light": 0.0},
			"XDK190": {"x": 26, "y": 93, "temperature": 0.0, "humidity": 0.0, "light": 0.0},

			"XDK006": {"x": 0, "y":  0, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK007": {"x": 0, "y":  4, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK101": {"x": 0, "y": 88, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK114": {"x": 0, "y":  8, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK146": {"x": 0, "y": 12, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK148": {"x": 0, "y": 16, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK153": {"x": 0, "y": 20, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK171": {"x": 0, "y": 24, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK172": {"x": 0, "y": 28, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK173": {"x": 0, "y": 32, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK174": {"x": 0, "y": 36, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK175": {"x": 0, "y": 40, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK177": {"x": 0, "y": 44, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK178": {"x": 0, "y": 48, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK179": {"x": 0, "y": 52, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "OwnTracks"},
			"XDK180": {"x": 0, "y": 56, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "OwnTracks"},
			"XDK183": {"x": 0, "y": 60, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK184": {"x": 0, "y": 64, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK187": {"x": 0, "y": 68, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK188": {"x": 0, "y": 72, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK191": {"x": 0, "y": 76, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK192": {"x": 0, "y": 80, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"},
			"XDK999": {"x": 0, "y": 84, "temperature": 0.0, "humidity": 0.0, "light": 0.0, "status": "unknown"}
		}
	},
	"owntracks": {
		"regions": { 
			"openBerlin":			{"x":  60, "y":  50, "r": 50},

			"D75":				{"x":  95, "y":  97.5, "r":  2.5},
			"Berlin":			{"x": 105, "y":  97.5, "r":  2.5},

			"":				{"x": 115, "y":  97.5, "r":  2.5}
		},

		"positions": { 
		},

		"beacons": { 
			"202":		{"uuid": "F7826DA6-4FA2-4E98-8024-BC5B71E0893E", "major": 1, "minor": 202, "x": 70, "y":  37, "r": 5},
			"203":		{"uuid": "F7826DA6-4FA2-4E98-8024-BC5B71E0893E", "major": 1, "minor": 203, "x": 60, "y":  45, "r": 5},
			"201":		{"uuid": "F7826DA6-4FA2-4E98-8024-BC5B71E0893E", "major": 1, "minor": 201, "x": 50, "y":  37, "r": 5},

			"BI":		{"uuid": "DEADBEEF-ABBA-CDEF-1001-000000000001", "major": 1, "minor":   1, "x": 15, "y":  97.5, "r": 2.5},
			"green":	{"uuid": "7777772E-626C-756B-6969-2E636F6D0001", "major": 3, "minor":   1, "x": 25, "y":  97.5, "r": 2.5},
			"pi":		{"uuid": "7777772E-626C-756B-6969-2E636F6D0001", "major": 3, "minor":   2, "x": 35, "y":  97.5, "r": 2.5},
			"bluki":	{"uuid": "7777772E-626C-756B-6969-2E636F6D0001", "major": 2, "minor":   1, "x": 45, "y":  97.5, "r": 2.5},
			"car":		{"uuid": "7777772E-626C-756B-6969-2E636F6D0001", "major": 1, "minor":   1, "x": 55, "y":  97.5, "r": 2.5},

			"":		{"uuid": "00000000-0000-0000-0000-000000000000", "major": 0, "minor":   0, "x":  5, "y":  97.5, "r": 2.5}
		},

		"devices": { 
		}
	},
	"overlays": {
		"polygons": [ 
		]
	},
	"heatmap": {
		"binSize": 3,
		"units": "\u00B0C",
		"map": [
			{
				"value": 0.0,
				"id": "OpenSpace",
				"name": "Open Space 1st Floor",
				"points": [
					{"x":  49.65, "y":  5.25},
					{"x":  70.30, "y":  5.25},
					{"x":  70.30, "y": 44.45},
					{"x":  49.65, "y": 44.45}
				]
			},
			{
				"value": 0.0,
				"id": "CreativeOpenSpace",
				"name": "Creative Open Space 2nd Floor",
				"points": [
					{"x":  89.70, "y":  5.25},
					{"x": 101.10, "y":  5.25},
					{"x": 101.10, "y":  7.70},
					{"x":  99.00, "y":  7.70},
					{"x":  99.00, "y": 16.00},
					{"x": 110.30, "y": 16.00},
					{"x": 110.30, "y": 60.75},
					{"x":  89.70, "y": 60.75}
				]
			},
			{
				"value": 0.0,
				"id": "Soldering",
				"name": "Soldering Benches 2nd Floor",
				"points": [
					{"x":  89.70, "y": 67.70},
					{"x": 102.50, "y": 67.70},
					{"x": 102.50, "y": 65.20},
					{"x": 107.00, "y": 65.20},
					{"x": 107.00, "y": 61.50},
					{"x": 110.30, "y": 61.50},
					{"x": 110.30, "y": 85.40},
					{"x":  99.00, "y": 85.40},
					{"x":  99.00, "y": 85.40},
					{"x":  99.00, "y": 92.70},
					{"x": 101.10, "y": 92.70},
					{"x": 101.10, "y": 95.25},
					{"x":  89.70, "y": 95.25}
				]
			},
			{
				"value": 0.0,
				"id": "BI",
				"name": "Bielefeld Fireplace",
				"points": [
					{"x": 65.00, "y":  95.00},
					{"x": 70.00, "y":  95.00},
					{"x": 70.00, "y":  99.00},
					{"x": 65.00, "y":  99.00}
				]
			},
			{
				"value": 0.0,
				"id": "NE",
				"name": "Neuss B79",
				"points": [
					{"x": 75.00, "y":  95.00},
					{"x": 80.00, "y":  95.00},
					{"x": 80.00, "y":  99.00},
					{"x": 75.00, "y":  99.00}
				]
			}
		]
	}
}
