var host = 'openBerlin.owntracks.org';
var port = 9001;
var useTLS = true;
var username = null;
var password = null;
var sensortopic =	'sensors/+/+';
var roomtopic =		'sensors/rooms/+/+';
var positiontopic =	'positions/+/+/+';
var beacontopic = 	'beacons/+/+/+';
var regiontopic = 	'regions/+/+/+'
